# Task Questions: List of Contents 

### Step 3: Import Data
### Step 4: Checking df Shape
### Step 5: Combine products and orders_products_combined
### Step 6: Confirm the results of the merge using the merge flag.
### Step 7: Export Data

### Step 3: Import Data

In a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.

In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path = r'/Users/tristansavella/Instacart Basket Analysis'

In [4]:
df_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data',
'orders_products_combined.pkl'))

### Step 4: Checking df Shape
Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).

In [5]:
df_combined.shape

(32434489, 12)

In [6]:
df_combined.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both
1,0,2539329,1,prior,1,2,8,NaN,14084,2,0,both
2,0,2539329,1,prior,1,2,8,NaN,12427,3,0,both
3,0,2539329,1,prior,1,2,8,NaN,26088,4,0,both
4,0,2539329,1,prior,1,2,8,NaN,26405,5,0,both

### Step 5: Combine products and orders_products_combined
Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [7]:
# import products

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data',
'4.3_orders_products', 'products.csv'), index_col = False)

In [8]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [9]:
df_merged_prods_and_ords = df_combined.merge(df_prods, on = 'product_id')

In [12]:
# Checking Shape

df_merged_prods_and_ords.shape

(32434212, 16)

In [13]:
# Checking head

df_merged_prods_and_ords.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

### Step 6: Confirm the results of the merge using the merge flag.

(Is it better to use "How = outer" rather than the default inner? If so, where do I include the how argument?)

In [14]:
df_merged_prods_and_ords['_merge'].value_counts()

_merge
both          32434212
left_only            0
right_only           0
Name: count, dtype: int64

### Step 7: Export Data
Export the newly created dataframe as orders_products_merged in a suitable format (taking into consideration the size).

In [19]:
# Export data to csv
df_merged_prods_and_ords.to_csv(os.path.join(path, '02 Data','Prepared Data',
'orders_products_merged.csv'))

In [18]:
# Export data to pkl
df_merged_prods_and_ords.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))