# Importing Libraries

In [1]:
# Import Libraries
import pandas as pd
import numpy as np
import os

# Importing Dataframe

In [2]:
path = r'/Users/tristansavella/Instacart Basket Analysis'

In [3]:
ords_prods_merged = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data',
'orders_products_merged.pkl'))

In [4]:
# Checking Shape and Head
ords_prods_merged.shape

(32434212, 16)

In [5]:
ords_prods_merged.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [6]:
# Create Subset of First Million Rows

df = ords_prods_merged[:1000000]

In [7]:
df.shape

(1000000, 16)

In [8]:
df.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

# If-Statements with User-Defined Functions

In [9]:
# defining price_label (row)

def price_label(row):

  if row['prices'] <= 5:
    return 'Low-range product'
  elif (row['prices'] > 5) and (row['prices'] <= 15):
    return 'Mid-range product'
  elif row['prices'] > 15:
    return 'High range'
  else: return 'Not enough data'

In [10]:
# Apply the function
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/lt/jbcyjbgd47xcv2f0lf4fdq2h0000gn/T/ipykernel_26077/902492192.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [11]:
df['price_range'].head()

0    Mid-range product
1    Mid-range product
2    Mid-range product
3    Mid-range product
4    Mid-range product
Name: price_range, dtype: object

In [12]:
df.head()

,Unnamed: 0,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_passed_since_last_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices,price_range
0,0,2539329,1,prior,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0,Mid-range product
1,1,2398795,1,prior,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0,Mid-range product
2,2,473747,1,prior,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0,Mid-range product
3,3,2254736,1,prior,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0,Mid-range product
4,4,431534,1,prior,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0,Mid-range product

In [13]:
# Run Value Counts
df['price_range'].value_counts(dropna = False)

price_range
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [14]:
# checking max price of item because there are no high-range products
df['prices'].max()

14.8

# If-Statements with the loc() function

In [15]:
# Creating Conditions - Different cells for each condition

df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

/var/folders/lt/jbcyjbgd47xcv2f0lf4fdq2h0000gn/T/ipykernel_26077/3653148075.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [16]:
df.loc[(df['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [17]:
df.loc[df['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

In [18]:
df['price_range_loc'].value_counts(dropna = False)

price_range_loc
Mid-range product    756450
Low-range product    243550
Name: count, dtype: int64

In [19]:
# Apply Conditions to Whole DF

ords_prods_merged.loc[ords_prods_merged['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [20]:
ords_prods_merged.loc[(ords_prods_merged['prices'] <= 15) & (df['prices'] > 5), 'price_range_loc'] = 'Mid-range product'

In [21]:
ords_prods_merged.loc[ords_prods_merged['prices'] <= 5, 'price_range_loc'] = 'Low-range product'

# If-Statements with For-Loops

In [22]:
# random unrelated example
for x in range (30, 45):
    print('My age is %d' % (x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [23]:
# Checking frequency of orders on each DOW (0 is Saturday)

ords_prods_merged['orders_day_of_week'].value_counts(dropna = False)

orders_day_of_week
0    6209632
1    5665830
6    4500246
2    4217766
5    4209449
3    3844096
4    3787193
Name: count, dtype: int64

In [24]:
# Using for-loop to summarize busiest and least busy day

result = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0:
    result.append("Busiest day")
  elif value == 4:
    result.append("Least busy")
  else:
    result.append("Regularly busy")

In [25]:
# Add result to dataframe
ords_prods_merged['busiest_day'] = result

In [28]:
ords_prods_merged['busiest_day'].value_counts

<bound method IndexOpsMixin.value_counts of 0           Regularly busy
1           Regularly busy
2           Regularly busy
3               Least busy
4               Least busy
                 ...
32434207    Regularly busy
32434208    Regularly busy
32434209    Regularly busy
32434210    Regularly busy
32434211        Least busy
Name: busiest_day, Length: 32434212, dtype: object>

# Question 2
Suppose your clients have changed their minds about the labels you created in your “busiest_day” column. Now, they want “Busiest day” to become “Busiest days” (plural). This label should correspond with the two busiest days of the week as opposed to the single busiest day. At the same time, they’d also like to know the two slowest days. Create a new column for this using a suitable method.

In [29]:
result_2 = []

for value in ords_prods_merged["orders_day_of_week"]:
  if value == 0 or value == 1:
    result_2.append("Busiest days")
  elif value == 4 or value == 3:
    result_2.append("Least busy days")
  else:
    result_2.append("Regularly busy")

In [30]:
ords_prods_merged['busiest_days'] = result_2

# Question 3
Check the values of this new column for accuracy. Note any observations in markdown format.

In [31]:
ords_prods_merged['busiest_days'].value_counts(dropna = False)

busiest_days
Regularly busy     12927461
Busiest days       11875462
Least busy days     7631289
Name: count, dtype: int64

Value Count for Days 0 and 1 = "Busiest days"
Value Count for Days 3 and 4 = "Least busy days"

# Question 4
When too many users make Instacart orders at the same time, the app freezes. The senior technical officer at Instacart wants you to identify the busiest hours of the day. Rather than by hour, they want periods of time labeled “Most orders,” “Average orders,” and “Fewest orders.” Create a new column containing these labels called “busiest_period_of_day.”

In [32]:
ords_prods_merged['order_hour_of_day'].value_counts()

order_hour_of_day
10    2764390
11    2738585
14    2691563
15    2664522
13    2663272
12    2620800
16    2537469
9     2456661
17    2089452
8     1719952
18    1637922
19    1259382
20     977017
7      891928
21     796362
22     634737
23     402612
6      290770
0      218942
1      115786
5       88057
2       69431
4       53283
3       51317
Name: count, dtype: int64

In [33]:
# defining busy periods of the day - eight hours for each period

result_3 = []

for value in ords_prods_merged["order_hour_of_day"]:
  if value in [10, 11, 14, 15, 13, 12, 16, 9]:
    result_3.append("Most orders")
  elif value in [23, 6, 0, 1, 5, 2, 4, 3]:
    result_3.append("Fewest orders")
  else:
    result_3.append("Average orders")

In [34]:
# adding to df
ords_prods_merged['busiest_period_of_day'] = result_3

In [35]:
ords_prods_merged[['order_hour_of_day','busiest_period_of_day']].head()

   order_hour_of_day busiest_period_of_day
0                  8        Average orders
1                  7        Average orders
2                 12           Most orders
3                  7        Average orders
4                 15           Most orders

# Question 5: Print the frequency for this new column.

In [36]:
ords_prods_merged['busiest_period_of_day'].value_counts()

busiest_period_of_day
Most orders       21137262
Average orders    10006752
Fewest orders      1290198
Name: count, dtype: int64

In [37]:
ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged_task47.pkl'))